{
  "openapi": "3.0.0",
  "info": {
    "title": "CI Board API Documentation",
    "description": "CodeIgniter 기반 게시판 시스템 REST API 문서",
    "version": "1.0.0",
    "contact": {
      "name": "CI Board",
      "url": "https://github.com/nambak/ci-board"
    }
  },
  "servers": [
    {
      "url": "http://learning-ci.local.com",
      "description": "Local Test Server"
    }
  ],
  "tags": [
    {
      "name": "Board",
      "description": "게시판 관련 API"
    },
    {
      "name": "Post",
      "description": "게시글 관련 API"
    },
    {
      "name": "Comment",
      "description": "댓글 관련 API"
    },
    {
      "name": "Auth",
      "description": "인증 관련 API"
    }
  ],
  "paths": {
    "/rest/board": {
      "get": {
        "tags": ["Board"],
        "summary": "게시판 목록 조회",
        "description": "생성된 모든 게시판 목록을 조회합니다",
        "responses": {
          "200": {
            "description": "게시판 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Board"
                      }
                    }
                  }
                },
                "example": {
                  "rows": [
                    {
                      "id": 1,
                      "name": "일반 게시판",
                      "description": "주제에 관련없는 게시물을 올리는 게시판입니다",
                      "created_at": "2024-08-19 16:33:58",
                      "updated_at": "2024-08-19 16:33:58"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Board"],
        "summary": "게시판 생성",
        "description": "새로운 게시판을 생성합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "게시판 이름"
                  },
                  "description": {
                    "type": "string",
                    "description": "게시판 설명"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "게시판 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "생성된 게시판 ID"
                    }
                  }
                },
                "example": {
                  "id": 1
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (필수 값 누락)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "name required"
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/board/{id}": {
      "put": {
        "tags": ["Board"],
        "summary": "게시판 수정",
        "description": "기존 게시판의 정보를 수정합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시판 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "게시판 이름"
                  },
                  "description": {
                    "type": "string",
                    "description": "게시판 설명"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "게시판 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidId": {
                    "value": {
                      "message": "invalid id"
                    }
                  },
                  "nameRequired": {
                    "value": {
                      "message": "name required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "게시판을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "board not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Board"],
        "summary": "게시판 삭제",
        "description": "특정 게시판을 삭제합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시판 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시판 삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "invalid id"
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "게시판을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "board not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/board/detail": {
      "get": {
        "tags": ["Board"],
        "summary": "게시판 상세 조회",
        "description": "특정 게시판의 상세 정보와 해당 게시판의 게시글 목록을 조회합니다",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "게시판 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시판 상세 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  }
                },
                "example": {
                  "id": 1,
                  "name": "일반 게시판",
                  "rows": [
                    {
                      "id": 1,
                      "board_id": 1,
                      "user_id": 1,
                      "title": "첫 번째 게시글",
                      "content": "게시글 내용입니다.",
                      "created_at": "2024-08-20 10:00:00",
                      "updated_at": "2024-08-20 10:00:00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/rest/post/{id}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 조회",
        "description": "특정 게시글의 상세 정보를 조회합니다 (작성자 정보 포함)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시글 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostWithUser"
                },
                "example": {
                  "id": 1,
                  "board_id": 1,
                  "user_id": 1,
                  "title": "첫 번째 게시글",
                  "content": "게시글 내용입니다.",
                  "name": "홍길동",
                  "email": "user@example.com",
                  "created_at": "2024-08-20 10:00:00",
                  "updated_at": "2024-08-20 10:00:00"
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "post not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "server error: error message"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Post"],
        "summary": "게시글 수정",
        "description": "기존 게시글의 제목과 내용을 수정합니다",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시글 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["title", "content"],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "게시글 제목"
                  },
                  "content": {
                    "type": "string",
                    "description": "게시글 내용"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "게시글 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (필수 값 누락)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "title required"
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "post not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "server error: error message"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Post"],
        "summary": "게시글 삭제",
        "description": "특정 게시글을 삭제합니다",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시글 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "server error: error message"
                }
              }
            }
          }
        }
      }
    },
    "/rest/post/create": {
      "post": {
        "tags": ["Post"],
        "summary": "게시글 작성",
        "description": "새로운 게시글을 작성합니다",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["board_id", "title", "content"],
                "properties": {
                  "board_id": {
                    "type": "integer",
                    "description": "게시판 ID"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "사용자 ID (선택, 미입력 시 세션 사용자)"
                  },
                  "title": {
                    "type": "string",
                    "description": "게시글 제목"
                  },
                  "content": {
                    "type": "string",
                    "description": "게시글 내용"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "게시글 작성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "생성된 게시글 ID"
                    }
                  }
                },
                "example": {
                  "id": 123
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "server error: error message"
                }
              }
            }
          }
        }
      }
    },
    "/rest/comment": {
      "get": {
        "tags": ["Comment"],
        "summary": "댓글 목록 조회",
        "description": "특정 게시글의 댓글 목록을 조회합니다",
        "parameters": [
          {
            "name": "post_id",
            "in": "query",
            "required": true,
            "description": "게시글 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "댓글 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CommentWithUser"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "홍길동",
                      "comment": "좋은 글이네요!",
                      "created_at": "2024-08-20 11:00:00",
                      "can_edit": true
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/rest/comment/save": {
      "post": {
        "tags": ["Comment"],
        "summary": "댓글 작성",
        "description": "게시글에 새로운 댓글을 작성합니다",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["post_id", "comment"],
                "properties": {
                  "post_id": {
                    "type": "integer",
                    "description": "게시글 ID"
                  },
                  "comment": {
                    "type": "string",
                    "description": "댓글 내용"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "댓글 작성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "invalid request"
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "post not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "server error: error message"
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "로그인",
        "description": "이메일과 비밀번호로 로그인합니다",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "사용자 이메일"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 6,
                    "description": "사용자 비밀번호"
                  },
                  "remember": {
                    "type": "boolean",
                    "description": "자동 로그인 여부"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "로그인되었습니다.",
                  "user": {
                    "id": 1,
                    "email": "user@example.com",
                    "name": "홍길동"
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "이메일 또는 비밀번호가 올바르지 않습니다.",
                  "errors": {
                    "email": "등록되지 않은 이메일입니다."
                  }
                }
              }
            }
          },
          "422": {
            "description": "유효성 검사 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "입력값을 확인해주세요.",
                  "errors": {
                    "email": "The 이메일 field must contain a valid email address.",
                    "password": "The 비밀번호 field must be at least 6 characters in length."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/check_email": {
      "get": {
        "summary": "이메일 중복 확인 (보안 강화)",
        "description": "회원가입 시 이메일 중복을 확인합니다. 보안을 위해 Rate Limiting, CAPTCHA 검증, 인증 요구사항이 적용됩니다.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "확인할 이메일 주소",
            "schema": {
              "type": "string",
              "format": "email",
              "example": "user@example.com"
            }
          },
          {
            "name": "signup_token",
            "in": "query",
            "required": false,
            "description": "회원가입 플로우 토큰 (비인증 사용자 필수)",
            "schema": {
              "type": "string",
              "example": "abc123def456..."
            }
          },
          {
            "name": "captcha_id",
            "in": "query",
            "required": false,
            "description": "CAPTCHA 챌린지 ID",
            "schema": {
              "type": "string",
              "example": "captcha_123"
            }
          },
          {
            "name": "captcha_answer",
            "in": "query",
            "required": false,
            "description": "CAPTCHA 답안",
            "schema": {
              "type": "string",
              "example": "8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "이메일 확인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "exists": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "사용 가능한 이메일입니다."
                    },
                    "rate_limit": {
                      "type": "object",
                      "properties": {
                        "remaining": {
                          "type": "integer",
                          "example": 4
                        },
                        "reset_time": {
                          "type": "integer",
                          "example": 1625097600
                        }
                      }
                    },
                    "signup_flow": {
                      "type": "object",
                      "properties": {
                        "remaining_checks": {
                          "type": "integer",
                          "example": 4
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요 또는 유효하지 않은 토큰",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "이 기능은 회원가입 과정에서만 사용할 수 있습니다."
                    },
                    "exists": {
                      "type": "boolean",
                      "example": false
                    },
                    "error_code": {
                      "type": "string",
                      "example": "AUTH_REQUIRED"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "CAPTCHA 필요 또는 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "보안을 위해 인증이 필요합니다."
                    },
                    "exists": {
                      "type": "boolean",
                      "example": false
                    },
                    "captcha_required": {
                      "type": "boolean",
                      "example": true
                    },
                    "captcha": {
                      "type": "object",
                      "properties": {
                        "question": {
                          "type": "string",
                          "example": "7 + 3 = ?"
                        },
                        "challenge_id": {
                          "type": "string",
                          "example": "abc123..."
                        }
                      }
                    },
                    "error_code": {
                      "type": "string",
                      "example": "CAPTCHA_REQUIRED"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit 초과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "요청이 너무 많습니다. 잠시 후 다시 시도해주세요."
                    },
                    "exists": {
                      "type": "boolean",
                      "example": false
                    },
                    "rate_limit": {
                      "type": "object",
                      "properties": {
                        "reset_time": {
                          "type": "integer",
                          "example": 1625097600
                        },
                        "remaining": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/generate_signup_token": {
      "post": {
        "summary": "회원가입 플로우 토큰 생성",
        "description": "회원가입 과정에서 이메일 확인에 필요한 토큰을 생성합니다.",
        "responses": {
          "200": {
            "description": "토큰 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "회원가입 세션이 시작되었습니다."
                    },
                    "signup_token": {
                      "type": "string",
                      "example": "abc123def456..."
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 1800
                    },
                    "email_checks_allowed": {
                      "type": "integer",
                      "example": 5
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit 초과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "토큰 생성 요청이 너무 많습니다. 잠시 후 다시 시도해주세요."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/generate_captcha": {
      "get": {
        "summary": "CAPTCHA 생성",
        "description": "보안 검증용 CAPTCHA를 생성합니다.",
        "responses": {
          "200": {
            "description": "CAPTCHA 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "captcha": {
                      "type": "object",
                      "properties": {
                        "question": {
                          "type": "string",
                          "example": "4 * 2 = ?"
                        },
                        "challenge_id": {
                          "type": "string",
                          "example": "def456..."
                        }
                      }
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 600
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit 초과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "CAPTCHA 요청이 너무 많습니다. 잠시 후 다시 시도해주세요."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
