{
  "openapi": "3.0.0",
  "info": {
    "title": "Learning CI API Document",
    "description": "Learning CI API ReDoc Document",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://learning-ci.local.com",
      "description": "Local Test Server"
    }
  ],
  "paths": {
    "/rest/board": {
      "get": {
        "summary": "게시판 목록 조회",
        "description": "생성된 게시판 목록을 조회합니다",
        "responses": {
          "200": {
            "description": "JSON 배열 형식의 게시판 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "example": "일반 게시판"
                          },
                          "description": {
                            "type": "string",
                            "example":"주제에 관련없는 게시물을 올리는 게시판입니다"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2024-08-19 16:33:58"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2024-08-19 16:33:58"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
