{
  "openapi": "3.0.0",
  "info": {
    "title": "CI Board API Documentation",
    "description": "CodeIgniter 기반 게시판 시스템 REST API 문서",
    "version": "1.0.0",
    "contact": {
      "name": "CI Board",
      "url": "https://github.com/nambak/ci-board"
    }
  },
  "servers": [
    {
      "url": "http://learning-ci.local.com",
      "description": "Local Test Server"
    }
  ],
  "tags": [
    {
      "name": "Board",
      "description": "게시판 관련 API"
    },
    {
      "name": "Article",
      "description": "게시글 관련 API"
    },
    {
      "name": "Comment",
      "description": "댓글 관련 API"
    },
    {
      "name": "Auth",
      "description": "인증 관련 API"
    },
    {
      "name": "User",
      "description": "사용자 관련 API"
    }
  ],
  "paths": {
    "/rest/board": {
      "get": {
        "tags": ["Board"],
        "summary": "게시판 목록 조회",
        "description": "생성된 모든 게시판 목록을 조회합니다",
        "responses": {
          "200": {
            "description": "게시판 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Board"
                      }
                    }
                  }
                },
                "example": {
                  "rows": [
                    {
                      "id": 1,
                      "name": "일반 게시판",
                      "description": "주제에 관련없는 게시물을 올리는 게시판입니다",
                      "created_at": "2024-08-19 16:33:58",
                      "updated_at": "2024-08-19 16:33:58"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Board"],
        "summary": "게시판 생성",
        "description": "새로운 게시판을 생성합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "게시판 이름"
                  },
                  "description": {
                    "type": "string",
                    "description": "게시판 설명"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "게시판 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "생성된 게시판 ID"
                    }
                  }
                },
                "example": {
                  "id": 1
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (필수 값 누락)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "name required"
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/board/{id}": {
      "get": {
        "tags": ["Board"],
        "summary": "게시판 상세 조회",
        "description": "특정 게시판의 상세 정보와 해당 게시판의 게시글 목록을 조회합니다",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시판 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시판 상세 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer",
                      "description": "게시글 총 개수"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Article"
                      }
                    }
                  }
                },
                "example": {
                  "id": 1,
                  "name": "일반 게시판",
                  "total": 10,
                  "rows": [
                    {
                      "id": 1,
                      "board_id": 1,
                      "user_id": 1,
                      "title": "첫 번째 게시글",
                      "content": "게시글 내용입니다.",
                      "view_count": 10,
                      "created_at": "2024-08-20 10:00:00",
                      "updated_at": "2024-08-20 10:00:00"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Board"],
        "summary": "게시판 수정",
        "description": "기존 게시판의 정보를 수정합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시판 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "게시판 이름"
                  },
                  "description": {
                    "type": "string",
                    "description": "게시판 설명"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "게시판 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidId": {
                    "value": {
                      "message": "invalid id"
                    }
                  },
                  "nameRequired": {
                    "value": {
                      "message": "name required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "게시판을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "board not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Board"],
        "summary": "게시판 삭제",
        "description": "특정 게시판을 삭제합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시판 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시판 삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "invalid id"
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "게시판을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "board not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/article/{id}": {
      "get": {
        "tags": ["Article"],
        "summary": "게시글 조회",
        "description": "특정 게시글의 상세 정보를 조회합니다 (작성자 정보 포함)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시글 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleDetail"
                },
                "example": {
                  "id": 1,
                  "board_id": 1,
                  "user_id": 1,
                  "title": "첫 번째 게시글",
                  "content": "게시글 내용입니다.",
                  "view_count": 10,
                  "name": "홍길동",
                  "email": "user@example.com",
                  "created_at": "2024-08-20 10:00:00",
                  "updated_at": "2024-08-20 10:00:00"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "invalid id"
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Article"],
        "summary": "게시글 수정",
        "description": "기존 게시글의 제목과 내용을 수정합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시글 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["title", "content"],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "게시글 제목"
                  },
                  "content": {
                    "type": "string",
                    "description": "게시글 내용"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "게시글 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (필수 값 누락)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "titleRequired": {
                    "value": {
                      "message": "title required"
                    }
                  },
                  "contentRequired": {
                    "value": {
                      "message": "content required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "post not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Article"],
        "summary": "게시글 삭제",
        "description": "특정 게시글을 삭제합니다",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "게시글 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/article/create": {
      "post": {
        "tags": ["Article"],
        "summary": "게시글 작성",
        "description": "새로운 게시글을 작성합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["board_id", "title", "content"],
                "properties": {
                  "board_id": {
                    "type": "integer",
                    "description": "게시판 ID"
                  },
                  "title": {
                    "type": "string",
                    "description": "게시글 제목"
                  },
                  "content": {
                    "type": "string",
                    "description": "게시글 내용"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "게시글 작성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "생성된 게시글 ID"
                    }
                  }
                },
                "example": {
                  "id": 123
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidBoardId": {
                    "value": {
                      "message": "invalid board_id"
                    }
                  },
                  "titleRequired": {
                    "value": {
                      "message": "title required"
                    }
                  },
                  "contentRequired": {
                    "value": {
                      "message": "content required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "이메일 인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "email_verification_required": {
                      "type": "boolean",
                      "description": "이메일 인증 필요 여부"
                    }
                  }
                },
                "example": {
                  "message": "이메일 인증이 필요합니다. 이메일을 확인하여 인증을 완료해주세요.",
                  "email_verification_required": true
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/comment": {
      "get": {
        "tags": ["Comment"],
        "summary": "댓글 목록 조회",
        "description": "특정 게시글의 댓글 목록을 조회합니다",
        "parameters": [
          {
            "name": "article_id",
            "in": "query",
            "required": true,
            "description": "게시글 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "댓글 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "홍길동",
                      "comment": "좋은 글이네요!",
                      "created_at": "2024-08-20 11:00:00",
                      "can_edit": true
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/rest/comment/save": {
      "post": {
        "tags": ["Comment"],
        "summary": "댓글 작성",
        "description": "게시글에 새로운 댓글을 작성합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["article_id", "comment"],
                "properties": {
                  "article_id": {
                    "type": "integer",
                    "description": "게시글 ID"
                  },
                  "comment": {
                    "type": "string",
                    "description": "댓글 내용"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "댓글 작성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidArticleId": {
                    "value": {
                      "message": "invalid article_id"
                    }
                  },
                  "commentRequired": {
                    "value": {
                      "message": "comment required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "이메일 인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "email_verification_required": {
                      "type": "boolean",
                      "description": "이메일 인증 필요 여부"
                    }
                  }
                },
                "example": {
                  "message": "이메일 인증이 필요합니다. 이메일을 확인하여 인증을 완료해주세요.",
                  "email_verification_required": true
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "article not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "server error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/comment/{id}": {
      "put": {
        "tags": ["Comment"],
        "summary": "댓글 수정",
        "description": "작성한 댓글을 수정합니다 (로그인 필요, 작성자만 가능)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "댓글 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["comment"],
                "properties": {
                  "comment": {
                    "type": "string",
                    "description": "수정할 댓글 내용"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "댓글 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidId": {
                    "value": {
                      "message": "invalid id"
                    }
                  },
                  "commentRequired": {
                    "value": {
                      "message": "comment required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 (작성자가 아님)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "forbidden"
                }
              }
            }
          },
          "404": {
            "description": "댓글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "comment not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Comment"],
        "summary": "댓글 삭제",
        "description": "작성한 댓글을 삭제합니다 (로그인 필요, 작성자만 가능)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "댓글 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "댓글 삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "invalid id"
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 (작성자가 아님)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "forbidden"
                }
              }
            }
          },
          "404": {
            "description": "댓글을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "comment not found"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "server error"
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "로그인",
        "description": "이메일과 비밀번호로 로그인합니다",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "사용자 이메일"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 6,
                    "description": "사용자 비밀번호"
                  },
                  "remember": {
                    "type": "boolean",
                    "description": "자동 로그인 여부"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "로그인되었습니다.",
                  "user": {
                    "id": 1,
                    "email": "user@example.com",
                    "name": "홍길동"
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "이메일 또는 비밀번호가 올바르지 않습니다.",
                  "errors": {
                    "email": "등록되지 않은 이메일입니다."
                  }
                }
              }
            }
          },
          "422": {
            "description": "유효성 검사 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "입력값을 확인해주세요.",
                  "errors": {
                    "email": "The 이메일 field must contain a valid email address.",
                    "password": "The 비밀번호 field must be at least 6 characters in length."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "회원가입",
        "description": "새로운 사용자 계정을 생성합니다",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["name", "email", "password"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 50,
                    "description": "사용자 이름"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 100,
                    "description": "사용자 이메일"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 6,
                    "maxLength": 255,
                    "description": "사용자 비밀번호"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "회원가입 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "회원가입이 완료되었습니다."
                }
              }
            }
          },
          "422": {
            "description": "유효성 검사 실패 또는 이메일 중복",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "validationError": {
                    "value": {
                      "success": false,
                      "message": "입력 정보를 확인해주세요.",
                      "errors": {
                        "name": "The 이름 field must be at least 2 characters in length.",
                        "email": "The 이메일 field must contain a valid email address."
                      }
                    }
                  },
                  "emailExists": {
                    "value": {
                      "success": false,
                      "message": "이미 사용 중인 이메일입니다.",
                      "errors": {
                        "email": "이미 사용 중인 이메일입니다."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "서버 오류가 발생했습니다. 잠시 후 다시 시도해주세요."
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/check_email": {
      "get": {
        "tags": ["Auth"],
        "summary": "이메일 중복 확인",
        "description": "회원가입 시 이메일 중복을 확인합니다",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "확인할 이메일 주소",
            "schema": {
              "type": "string",
              "format": "email",
              "example": "user@example.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "이메일 확인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "exists": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "사용 가능한 이메일입니다."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "이메일을 입력해주세요."
                    },
                    "exists": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "서버 오류가 발생했습니다."
                    },
                    "exists": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/forgot_password": {
      "post": {
        "tags": ["Auth"],
        "summary": "비밀번호 재설정 링크 요청",
        "description": "등록된 이메일로 비밀번호 재설정 링크를 발송합니다",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "등록된 이메일 주소",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "요청 성공 (보안상 사용자 존재 여부와 관계없이 같은 응답)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "이메일로 비밀번호 재설정 링크를 발송했습니다. 이메일을 확인해주세요."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "유효성 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "올바른 이메일 주소를 입력해주세요."
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "example": "이메일 필드는 필수 입력입니다."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "서버 오류가 발생했습니다. 잠시 후 다시 시도해주세요."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/verify_token/{token}": {
      "get": {
        "tags": ["Auth"],
        "summary": "비밀번호 재설정 토큰 유효성 검증",
        "description": "재설정 토큰이 유효한지 확인합니다 (만료 여부, 사용 여부 등)",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "비밀번호 재설정 토큰",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6a7b8c9d0e1f2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "유효한 토큰",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "유효한 토큰입니다."
                    },
                    "valid": {
                      "type": "boolean",
                      "example": true
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-12-05 12:00:00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않거나 만료된 토큰",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "유효하지 않거나 만료된 토큰입니다."
                    },
                    "valid": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "서버 오류가 발생했습니다."
                    },
                    "valid": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/resend-verification": {
      "post": {
        "tags": ["Auth"],
        "summary": "이메일 인증 메일 재발송",
        "description": "회원가입 후 이메일 인증 메일을 재발송합니다 (로그인 필요, 1분 쿨다운)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "인증 메일 재발송 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "인증 메일이 재발송되었습니다. 이메일을 확인해주세요."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "이미 인증된 계정",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "이미 인증이 완료된 계정입니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "사용자를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "너무 많은 요청 (쿨다운)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "잠시 후 다시 시도해주세요. (45초 후 재발송 가능)"
                    },
                    "retry_after": {
                      "type": "integer",
                      "description": "재시도 가능까지 남은 시간(초)",
                      "example": 45
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "서버 오류가 발생했습니다. 잠시 후 다시 시도해주세요."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/auth/reset_password": {
      "post": {
        "tags": ["Auth"],
        "summary": "비밀번호 재설정",
        "description": "유효한 토큰으로 새 비밀번호를 설정합니다",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["token", "password", "password_confirm"],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "비밀번호 재설정 토큰",
                    "example": "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6a7b8c9d0e1f2"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "새 비밀번호 (최소 8자)",
                    "example": "newpassword123"
                  },
                  "password_confirm": {
                    "type": "string",
                    "format": "password",
                    "description": "비밀번호 확인",
                    "example": "newpassword123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "비밀번호 재설정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "비밀번호가 성공적으로 변경되었습니다. 새 비밀번호로 로그인해주세요."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않거나 만료된 토큰",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "유효하지 않거나 만료된 토큰입니다."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "유효성 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "입력값을 확인해주세요."
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "password": {
                          "type": "string",
                          "example": "비밀번호 필드는 최소 8자 이상이어야 합니다."
                        },
                        "password_confirm": {
                          "type": "string",
                          "example": "비밀번호 확인 필드가 비밀번호 필드와 일치하지 않습니다."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "비밀번호 변경에 실패했습니다. 다시 시도해주세요."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/user": {
      "get": {
        "tags": ["User"],
        "summary": "전체 사용자 목록 조회",
        "description": "모든 사용자의 공개 프로필 목록을 조회합니다 (관리자 전용)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "사용자 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserPublicProfile"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "전체 사용자 수"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "rows": [
                    {
                      "id": 1,
                      "name": "홍길동",
                      "email": "user@example.com",
                      "created_at": "2024-08-19 16:33:58",
                      "article_count": 10,
                      "comment_count": 25,
                      "is_owner": false
                    }
                  ],
                  "total": 100
                }
              }
            }
          },
          "401": {
            "description": "권한 없음 (관리자만 접근 가능)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "사용자 정보를 불러오는 중 오류가 발생했습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/user/{id}": {
      "get": {
        "tags": ["User"],
        "summary": "특정 사용자 공개 프로필 조회",
        "description": "특정 사용자의 공개 프로필 정보를 조회합니다",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "사용자 ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "사용자 프로필 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserPublicProfile"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 1,
                    "name": "홍길동",
                    "email": "user@example.com",
                    "created_at": "2024-08-19 16:33:58",
                    "article_count": 10,
                    "comment_count": 25,
                    "is_owner": false
                  }
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "사용자 정보를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "사용자 정보를 불러오는 중 오류가 발생했습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/user/profile": {
      "get": {
        "tags": ["User"],
        "summary": "내 프로필 조회",
        "description": "현재 로그인한 사용자의 프로필 정보를 조회합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "프로필 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 1,
                    "name": "홍길동",
                    "email": "user@example.com",
                    "created_at": "2024-08-19 16:33:58",
                    "post_count": 10,
                    "comment_count": 25
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "사용자 정보를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "사용자 정보를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "프로필 정보를 불러오는 중 오류가 발생했습니다."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["User"],
        "summary": "프로필 수정 및 비밀번호 변경",
        "description": "현재 로그인한 사용자의 프로필 정보를 수정하고, 선택적으로 비밀번호를 변경합니다 (로그인 필요)",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 50,
                    "description": "사용자 이름"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "현재 비밀번호 (비밀번호 변경 시 필수)"
                  },
                  "new_password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "description": "새 비밀번호 (비밀번호 변경 시 필수, 8자 이상)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "프로필 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "profileOnly": {
                    "summary": "프로필만 수정",
                    "value": {
                      "success": true,
                      "message": "프로필이 수정되었습니다.",
                      "data": {
                        "name": "홍길동"
                      }
                    }
                  },
                  "profileAndPassword": {
                    "summary": "프로필 및 비밀번호 수정",
                    "value": {
                      "success": true,
                      "message": "프로필과 비밀번호가 수정되었습니다.",
                      "data": {
                        "name": "홍길동"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "유효성 검사 실패",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "입력값을 확인해주세요."
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "nameError": {
                    "summary": "이름 유효성 검사 실패",
                    "value": {
                      "success": false,
                      "message": "입력값을 확인해주세요.",
                      "errors": {
                        "name": "The 이름 field must be at least 2 characters in length."
                      }
                    }
                  },
                  "passwordMismatch": {
                    "summary": "현재 비밀번호 불일치",
                    "value": {
                      "success": false,
                      "message": "입력값을 확인해주세요.",
                      "errors": {
                        "password": "현재 비밀번호가 일치하지 않습니다."
                      }
                    }
                  },
                  "newPasswordTooShort": {
                    "summary": "새 비밀번호 길이 부족",
                    "value": {
                      "success": false,
                      "message": "입력값을 확인해주세요.",
                      "errors": {
                        "new-password": "새 비밀번호는 8자 이상이어야 합니다."
                      }
                    }
                  },
                  "passwordsSame": {
                    "summary": "현재/새 비밀번호 동일",
                    "value": {
                      "success": false,
                      "message": "입력값을 확인해주세요.",
                      "errors": {
                        "new-password": "새 비밀번호가 현재 비밀번호와 같습니다."
                      }
                    }
                  },
                  "passwordRequired": {
                    "summary": "비밀번호 입력 누락",
                    "value": {
                      "success": false,
                      "message": "입력값을 확인해주세요.",
                      "errors": {
                        "password": "현재 비밀번호를 입력해주세요.",
                        "new-password": "새 비밀번호를 입력해주세요."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "프로필 수정 중 오류가 발생했습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "ci_session",
        "description": "CodeIgniter 세션 쿠키 기반 인증"
      }
    },
    "schemas": {
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "게시판 ID"
          },
          "name": {
            "type": "string",
            "description": "게시판 이름"
          },
          "description": {
            "type": "string",
            "description": "게시판 설명"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "생성 일시"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "수정 일시"
          }
        }
      },
      "Article": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "게시글 ID"
          },
          "board_id": {
            "type": "integer",
            "description": "게시판 ID"
          },
          "user_id": {
            "type": "integer",
            "description": "작성자 ID"
          },
          "title": {
            "type": "string",
            "description": "게시글 제목"
          },
          "content": {
            "type": "string",
            "description": "게시글 내용"
          },
          "view_count": {
            "type": "integer",
            "description": "조회수"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "생성 일시"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "수정 일시"
          }
        }
      },
      "ArticleDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Article"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "작성자 이름"
              },
              "email": {
                "type": "string",
                "description": "작성자 이메일"
              }
            }
          }
        ]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "댓글 ID"
          },
          "name": {
            "type": "string",
            "description": "작성자 이름"
          },
          "comment": {
            "type": "string",
            "description": "댓글 내용"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "작성 일시"
          },
          "can_edit": {
            "type": "boolean",
            "description": "수정 권한 여부"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "사용자 ID"
          },
          "name": {
            "type": "string",
            "description": "사용자 이름"
          },
          "email": {
            "type": "string",
            "description": "사용자 이메일"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "가입 일시"
          },
          "post_count": {
            "type": "integer",
            "description": "작성한 게시글 수"
          },
          "comment_count": {
            "type": "integer",
            "description": "작성한 댓글 수"
          }
        }
      },
      "UserPublicProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "사용자 ID"
          },
          "name": {
            "type": "string",
            "description": "사용자 이름"
          },
          "email": {
            "type": "string",
            "description": "사용자 이메일"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "가입 일시"
          },
          "article_count": {
            "type": "integer",
            "description": "작성한 게시글 수"
          },
          "comment_count": {
            "type": "integer",
            "description": "작성한 댓글 수"
          },
          "is_owner": {
            "type": "boolean",
            "description": "현재 로그인한 사용자가 프로필 소유자인지 여부"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}